<h1> User information with posts </h1>
<%= render 'shared/user', user:@user%>

<div class="bio_user">
 <h3>Bio</h3>
 <p><%= @user.bio %><p>
</div>

<div class="users_post">
   <% @user.recent_posts.each do |post| %>

      <%= render 'shared/post', post:post %>
   <%end%>

</div>
<div class="holder_button">
<button>
 <%= link_to 'View all posts', "#{@user.id}/posts" %>
</button>
<button>
 <%= link_to 'Back', :back %>
</button>
</div>